* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

body {
  background-color: #131616;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.italic {
  font-weight: 100;
}

.center {
  margin: auto;
}

.title {
  text-align: center;
}

.f-right {
  float: right;
}

.f-left {
  float: left;
}

span.title-1 {
  color: white;
  font-weight: bolder;
  display: block;
  text-align: right;
}

span.title-2 {
  font-weight: lighter;
  display: block;
  text-align: right;
  color: #b1b1b1;
}

span.title-3 {
  font-weight: bolder;
  display: block;
}

#numberToggle1 { /* This is hidding the number 1 at the start of the website so the user can toggle it off by clicking on the lamp*/
  display:none;
  z-index: 1; /*this will put the number in-front of the lamp later*/
}